




.containar {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
  }
  
  
  .containar input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  
  .containar:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .containar input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .containar input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .containar .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .containor {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 40px;
  }
  
  
  .containor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
 
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
 
  .containor:hover input ~ .checkmark1 {
    background-color: #ccc;
  }
  
 
  .containor input:checked ~ .checkmark1 {
    background-color: #2196F3;
  }
  
  
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .containor input:checked ~ .checkmark1:after {
    display: block;
  }
  
  
  .containor .checkmark1:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  .images h4 span{
    margin: 10px;
  }

  .input input{
    width: 350px;
    height: 20px;
    border: 1px solid black;

    margin: 10px;

  }



  


  body{
    Margin:0;
    padding:0;
    background-color: rgb(204, 202, 198);
}

td{
    padding:0;
}

img{
    border:0;
}
.outer{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;
    background-color: rgb(248, 248, 248);
}


.padding{
    padding: 18px;
    
    
    
}

.one-columns{
    
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  
}

.one-columns .column{
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.one-columns .content{
  font-size: 15px;
  line-height: 20px;
}

.two-columns{
    
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 30px;

}

.two-columns .column{
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top;
}

.two-columns .content1{
  
  line-height: 20px;

}


.three-columns{
  text-align: center;
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  

}

.three-columns .column{
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top;
}


.three-columns .content{
    font-size: 10px;
    line-height: 20px;
    
    text-align: center;
    

}

.four-columns{
    
  font-size: 0;
  margin-top: 10px;
  background-color: none;
  
  

}

.four-columns .column{
  width: 100%;
  max-width: 120px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  

}

.four-columns .content{
  
  text-align: center;
  
  width: max-content;
  font-size: 12px;

  

}




.six-columns{
    
    font-size: 0;
    margin-top: 10px;
    background-color: none;
    

}

.six-columns .column{
    width: 100%;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.six-columns .content1{
    
    text-align: center;
    
    width: max-content;

}

.six-columns .content1 .box{
  
  width: 50px;
  height: 50px;
}





@media screen and (max-width:600px){

}
@media screen and (max-width:400px){
    
}